<h1><%= @track.title %></h1>

<p>
  Author: <%= @track.author %>
</p>

<p>
  <%= @track.url  %>
</p>

<p>
  Submitted by user: <%= User.find(@track.user_id)[:username] %>
</p>
<p>
  Total Votes: <%= Vote.where(track_id: @track.id).count %>
</p>

<h3>Reviews</h3>
<% @reviews.each do |review| %>
  <div class="review">
    <p><%= review.review %> </p>
    <p>
      <small>Submitted by user: <%= User.find(review.user_id)[:username] %></small>
    </p>
  </div>

  <% if review.user_id == request.cookies['user_id'].to_i %>
  <form action="/deletereviews" method="post">
    <div>
      <input type="hidden" name="review_id" value="<%= review.id %>">
      <input type="submit" value="Delete Review">
    </div>
  </form>
  <% end %>

<% end %>


<% if logged_in? %>
  <form action="/reviews" method="post">
    <div>
      <textarea name="review" cols="25" rows="5">
        Enter your review here...
      </textarea>
    </div>
    <div>
       <input type="hidden" name="track_id" value="<%= @track.id %>">
      <input type="submit" value="Submit">
    </div>
  </form>
<% else %>
  <p>Log in to submit reviews</p>
<% end %>

<hr/>
<a href="/tracks">Back to All Tracks</a>