<h1><%= @track.title %></h1>

<p>
  Author: <%= @track.author %>
</p>

<p>
  <%= @track.url  %>
</p>

<p>
  Submitted by user: <%= User.find(@track.user_id)[:username] %>
</p>
<p>
  Total Votes: <%= Vote.where(track_id: @track.id).count %>
</p>

<hr/>
<a href="/tracks">Back to All Tracks</a>